In [4]:
# import section
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import sklearn.datasets
import numpy as np
import sys
from scipy.stats import norm
import scipy.stats as stats
import pylab as pl

In [5]:
no_hitters = pd.read_csv("no_hitters.csv", sep = ',') # use delimeters, try to check if all data are available
no_hitters

         date  game_number winning_team losing_team  winning_pitcher
0    18760715          140          NaN         NaN              NaN
1    18800612         1035          NaN         NaN              NaN
2    18800617         1046          NaN         NaN              NaN
3    18800819         1177          NaN         NaN              NaN
4    18800820         1179          NaN         NaN              NaN
..        ...          ...          ...         ...              ...
289  20150725       210250          PHI         CHN      Cole Hamels
290  20150812       210490          SEA         BAL  Hisashi Iwakuma
291  20150821       210610          HOU         LAN    Michael Fiers
292  20150830       210740          CHN         LAN     Jake Arrieta
293  20151003       211208          WAS         NYN     Max Scherzer

[294 rows x 5 columns]